*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 5rem;
}

input{
  width: 100%;
  font-size: 1.2rem;
  color:gray;
}

.cardGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border:1px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  margin: 10px;
}

.card p{
  text-align: center;
  padding: 5px;

}

.card img{
  display: block;
  margin:0px auto;
  max-height: 180px;;
}